<!DOCTYPE html>
<html>
  <head>
    <title>Emotions365</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai|Montserrat|Open+Sans+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" media="screen" title="no title">
    <link rel="shrtcut icon" href="https://www.sdmts.com/sites/default/files/calendar-01.svg">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render '/layouts/nav' %>
    <%= yield %>
    <%= render '/layouts/footer' %>
  </body>
</html>
